.form {
  padding: 15px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  font-weight: 500;
}

.input {
  display: block;
  padding: 4px;
  margin-top: 5px;
  outline: 1px solid #7a7979;
  border: none;
  border-radius: 4px;
}

.input:focus {
  outline: 2px solid rgb(54, 156, 214);
}

.button {
  cursor: pointer;
  width: 100px;
  border: 1px solid #7a7979;
  border-radius: 4px;
  transition: background-color 250ms, box-shadow 250ms, color 250ms;
}

.button:active {
  color: #fff;
  background-color: rgb(54, 156, 214);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
